.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #4d8306;
  border: 1px solid #4d8306;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #294406;
  border-color: #294406;
}
